body {
    font: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(16, 146, 103);
    margin: 0;

}

h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
    margin-left: 240px;
    font-size: 80px;
    color: white
  
}

#header {
    background-color: rgb(41, 184, 72);
    height: 150px;

}

#menu {
    position: absolute;
    top: 0px;
    margin-top: 0.0em;
    left: 0;
    width: 134px;
    background-color: rgb(41, 184, 72);
    padding: 0px 90px 0em 0px;

}

#logo {
    width: 150px;
    margin-top: 0px;
    padding-top: 0px;
    height: 146px;
    margin-left: 30px;
    margin-bottom: 0px;
}

#logo:hover {
    border: 20px solid green;
    border-radius: 100px;


}

body {
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(3.jpg);
    background-position: center;
    background-size: cover;
  }

.form {
display: flex;
position: absolute;
margin: 40px 40px;
padding: 20px 20px;

}

.ad-soyad {
    width: 186px;
    margin-bottom: 10px;
    padding: 5px;
}

.mail {
    padding: 5px 0px;
    width: 400px;
   
}

.write {
    width: 100%;
    height: 300px;  
    margin-top: 20px;
}

h5 {
margin-left: 5px;
margin-top: 15px;
margin-bottom: -15px;
padding-bottom: 0px;
color: white;
font-size: 20px;
}

select {
    padding: 5px 25px;
}

input {
border-radius: 10px;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;


}


label { 
color: red;
margin-right: 10px;
}

    
