body {
    font: 90%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(16, 146, 103);
    margin: 0;

}

h1 {
    text-align: center;
    margin-top: 0;
    padding-top: 15px;
    margin-left: 240px;
    font-size: 80px;
    color: white
  
}

#header {
    background-color: rgb(41, 184, 72);
    height: 150px;

}

#menu {
    position: absolute;
    top: 0px;
    margin-top: 0.0em;
    left: 0;
    width: 134px;
    background-color: rgb(41, 184, 72);
    padding: 0px 90px 0em 0px;

}

#logo {
    width: 150px;
    margin-top: 0px;
    padding-top: 0px;
    height: 146px;
    margin-left: 30px;
    margin-bottom: 0px;
}

#logo:hover {
    border: 20px solid green;
    border-radius: 100px;


}

body {
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(indir.jpg);
    background-position: center;
    background-size: cover;
  }

.img {
display: flex;
position: absolute;
width: 200px;
height: 300px;
margin: 20px 20px;
padding-right: 20px;
align-items: inherit; 

}